.product-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 8px;
  .product-image {
    position: relative;
    width: 200px;
    height: 260px;
    border-radius: 16px;
    overflow: hidden;
  }
  .product-info-price {
    color: #6c46aa !important;
  }
  .product-image-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 260px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  .product-image-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    z-index: 1;
  }
  .product-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Loading spinner animation
.loading-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
